.rect-1 {
  x: 360.5;
  y: 83.5;
  width: 47px;
  height: 51px;
}
.rect-2 {
  x: 411.5;
  y: 83.5;
  width: 48px;
  height: 51px;
}
.rect-3 {
  x: 360.5;
  y: 137.5;
  width: 47px;
  height: 47px;
}
.rect-4 {
  x: 411.5;
  y: 137.5;
  width: 48px;
  height: 47px;
}
.rect-5 {
  x: 205.5;
  y: 226.5;
  width: 48px;
  height: 47px;
}
.rect-6 {
  x: 256.5;
  y: 226.5;
  width: 46px;
  height: 47px;
}
.rect-7 {
  x: 305.5;
  y: 226.5;
  width: 46px;
  height: 47px;
}
.rect-8 {
  x: 205.5;
  y: 276.5;
  width: 48px;
  height: 47px;
}
.rect-9 {
  x: 256.5;
  y: 276.5;
  width: 46px;
  height: 47px;
}
.rect-10 {
  x: 305.5;
  y: 276.5;
  width: 46px;
  height: 47px;
}
.rect-11 {
  x: 28.5;
  y: 17.5;
  width: 207px;
  height: 145px;
}
.rect-12 {
  x: 20.5;
  y: 202.5;
  width: 129px;
  height: 86px;
}
.rect-13 {
  x: 20.5;
  y: 292.5;
  width: 129px;
  height: 65px;
}
.rect-14 {
  x: 20.5;
  y: 361.5;
  width: 129px;
  height: 61px;
}
